.experience {
    &--list {
        li {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(-50%, 0%);
                box-shadow: 0 0 0 2px #7ccbbe;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background-color: #7ccbbe;
                border: 2px solid $black;
            }

            &::after {
                content: '';
                border-left: 2px solid $white;
                height: 100%;
                top: 20px;
                left: 1px;
                transform: translateX(-50%);
                position: absolute;
                width: 2px;
            }

            &:last-child {
                &::after {
                    content: none;
                }
            }
        }
    }
}